// Brand colors - please use functional colors instead!
$white: #fff;
$black: #000;
$text-grey: #707070;
$dark-grey: #141414;

// Functional colors
$color-body-text: $text-grey;
$color-heading: $dark-grey;

$color-swiper-pagination-bullet-active: $dark-grey;
