$vw-sm: 320px;
$vw-md: 640px;
$vw-lg: 960px;
$vw-xl: 1280px;

$spacer: 16px;
$spacer-xxs: $spacer * 0.25; // 4px
$spacer-xs: $spacer * 0.5; // 8px
$spacer-sm: $spacer * 0.75; // 12px
$spacer-lg: $spacer * 1.25; // 20px
$spacer-xl: $spacer * 1.5; // 24px
$spacer-xxl: $spacer * 2; // 32px
