.card {
  display: inline-block;
  width: 15em;
  aspect-ratio: 2 / 2.5;
  padding: 1rem;
  scroll-snap-align: start;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  @media (max-width: 479px) {
    width: 15em;
  }
}

.inline-text {
  display: flex;
}